In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

In [7]:
df=pd.read_csv("C:\\Users\\Kirtibala.Gujar\\Desktop\\Python_ML_Trainer\\credit_score.csv")

In [18]:
df

,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,R_CLOTHING_INCOME,...,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_GAMBLING,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,CREDIT_SCORE,DEFAULT
0,33269,0,532304,0.0000,16.0000,1.2000,1889,945,0.5003,0.0568,...,0.0000,0.0625,High,1,0,0,0,0,444,1
1,77158,91187,315648,1.1818,4.0909,3.4615,5818,111,0.0191,0.0754,...,0.7692,0.2222,No,1,0,0,1,0,625,0
2,30917,21642,534864,0.7000,17.3000,24.7142,1157,860,0.7433,0.0374,...,1.4286,0.0578,High,1,0,0,1,0,469,1
3,80657,64526,629125,0.8000,7.8000,9.7499,6857,3686,0.5376,0.0850,...,1.2500,0.1282,High,1,0,0,1,0,559,0
4,149971,1172498,2399531,7.8182,16.0000,2.0465,1978,322,0.1628,0.0132,...,0.1163,0.0568,High,1,1,1,1,1,473,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,328892,1465066,5501471,4.4546,16.7273,3.7551,16701,10132,0.6067,0.0508,...,0.2041,0.0543,High,1,1,1,1,1,418,0
996,81404,88805,680837,1.0909,8.3637,7.6667,5400,1936,0.3585,0.0663,...,0.8333,0.1087,No,1,0,0,1,0,589,1
997,0,42428,30760,3.2379,8.1889,0.7250,0,0,0.8779,0.0047,...,0.2500,0.3448,No,1,0,0,1,0,499,0
998,36011,8002,604181,0.2222,16.7777,75.5037,1993,1271,0.6377,0.0553,...,5.0002,0.0662,No,1,1,0,1,0,507,0
999,44266,309859,44266,6.9999,1.0000,0.1429,1574,1264,0.8030,0.0356,...,0.1587,1.1111,No,1,0,0,1,0,657,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 87 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CUST_ID                  1000 non-null   object
 1   INCOME                   1000 non-null   int64
 2   SAVINGS                  1000 non-null   int64
 3   DEBT                     1000 non-null   int64
 4   R_SAVINGS_INCOME         1000 non-null   float64
 5   R_DEBT_INCOME            1000 non-null   float64
 6   R_DEBT_SAVINGS           1000 non-null   float64
 7   T_CLOTHING_12            1000 non-null   int64
 8   T_CLOTHING_6             1000 non-null   int64
 9   R_CLOTHING               1000 non-null   float64
 10  R_CLOTHING_INCOME        1000 non-null   float64
 11  R_CLOTHING_SAVINGS       1000 non-null   float64
 12  R_CLOTHING_DEBT          1000 non-null   float64
 13  T_EDUCATION_12           1000 non-null   int64
 14  T_EDUCATION_6            1000 non-null   int64
 15  R_EDUCATION              1000 non-null   float64
 16  R_EDUCATION_INCOME       1000 non-null   float64
 17  R_EDUCATION_SAVINGS      1000 non-null   float64
 18  R_EDUCATION_DEBT         1000 non-null   float64
 19  T_ENTERTAINMENT_12       1000 non-null   int64
 20  T_ENTERTAINMENT_6        1000 non-null   int64
 21  R_ENTERTAINMENT          1000 non-null   float64
 22  R_ENTERTAINMENT_INCOME   1000 non-null   float64
 23  R_ENTERTAINMENT_SAVINGS  1000 non-null   float64
 24  R_ENTERTAINMENT_DEBT     1000 non-null   float64
 25  T_FINES_12               1000 non-null   int64
 26  T_FINES_6                1000 non-null   int64
 27  R_FINES                  1000 non-null   float64
 28  R_FINES_INCOME           1000 non-null   float64
 29  R_FINES_SAVINGS          1000 non-null   float64
 30  R_FINES_DEBT             1000 non-null   float64
 31  T_GAMBLING_12            1000 non-null   int64
 32  T_GAMBLING_6             1000 non-null   int64
 33  R_GAMBLING               1000 non-null   float64
 34  R_GAMBLING_INCOME        1000 non-null   float64
 35  R_GAMBLING_SAVINGS       1000 non-null   float64
 36  R_GAMBLING_DEBT          1000 non-null   float64
 37  T_GROCERIES_12           1000 non-null   int64
 38  T_GROCERIES_6            1000 non-null   int64
 39  R_GROCERIES              1000 non-null   float64
 40  R_GROCERIES_INCOME       1000 non-null   float64
 41  R_GROCERIES_SAVINGS      1000 non-null   float64
 42  R_GROCERIES_DEBT         1000 non-null   float64
 43  T_HEALTH_12              1000 non-null   int64
 44  T_HEALTH_6               1000 non-null   int64
 45  R_HEALTH                 1000 non-null   float64
 46  R_HEALTH_INCOME          1000 non-null   float64
 47  R_HEALTH_SAVINGS         1000 non-null   float64
 48  R_HEALTH_DEBT            1000 non-null   float64
 49  T_HOUSING_12             1000 non-null   int64
 50  T_HOUSING_6              1000 non-null   int64
 51  R_HOUSING                1000 non-null   float64
 52  R_HOUSING_INCOME         1000 non-null   float64
 53  R_HOUSING_SAVINGS        1000 non-null   float64
 54  R_HOUSING_DEBT           1000 non-null   float64
 55  T_TAX_12                 1000 non-null   int64
 56  T_TAX_6                  1000 non-null   int64
 57  R_TAX                    1000 non-null   float64
 58  R_TAX_INCOME             1000 non-null   float64
 59  R_TAX_SAVINGS            1000 non-null   float64
 60  R_TAX_DEBT               1000 non-null   float64
 61  T_TRAVEL_12              1000 non-null   int64
 62  T_TRAVEL_6               1000 non-null   int64
 63  R_TRAVEL                 1000 non-null   float64
 64  R_TRAVEL_INCOME          1000 non-null   float64
 65  R_TRAVEL_SAVINGS         1000 non-null   float64
 66  R_TRAVEL_DEBT            1000 non-null   float64
 67  T_UTILITIES_12           1000 non-null   int64
 68  T_UTILITIES_6            1000 non-null   int64
 69  R_UTILITIES              1000 non-null   float64
 70  R_UTILITIES_INCOME       1000 non-null   float64
 71  R_UTILITIES_SAVINGS      1000 non-null   float64
 72  R_UTILITIES_DEBT         1000 non-null   float64
 73  T_EXPENDITURE_12         1000 non-null   int64
 74  T_EXPENDITURE_6          1000 non-null   int64
 75  R_EXPENDITURE            1000 non-null   float64
 76  R_EXPENDITURE_INCOME     1000 non-null   float64
 77  R_EXPENDITURE_SAVINGS    1000 non-null   float64
 78  R_EXPENDITURE_DEBT       1000 non-null   float64
 79  CAT_GAMBLING             1000 non-null   object
 80  CAT_DEBT                 1000 non-null   int64
 81  CAT_CREDIT_CARD          1000 non-null   int64
 82  CAT_MORTGAGE             1000 non-null   int64
 83  CAT_SAVINGS_ACCOUNT      1000 non-null   int64
 84  CAT_DEPENDENTS           1000 non-null   int64
 85  CREDIT_SCORE             1000 non-null   int64
 86  DEFAULT                  1000 non-null   int64
dtypes: float64(51), int64(34), object(2)
memory usage: 679.8+ KB

In [12]:
df['CUST_ID'].value_counts()

CUST_ID
C02COQEVYU    1
COTTPMD2Q8    1
COHOIPUQJY    1
COI3MBCR09    1
COJ8Y0F6NT    1
             ..
CCBW4IUJLN    1
CCC6W17COY    1
CCC7OK54HE    1
CCCHGKDR99    1
CZZV5B3SAL    1
Name: count, Length: 1000, dtype: int64

In [13]:
df['CUST_ID'].nunique()

1000

In [14]:
df=df.drop('CUST_ID', axis=1)

In [15]:
df

,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,R_CLOTHING_INCOME,...,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_GAMBLING,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,CREDIT_SCORE,DEFAULT
0,33269,0,532304,0.0000,16.0000,1.2000,1889,945,0.5003,0.0568,...,0.0000,0.0625,High,1,0,0,0,0,444,1
1,77158,91187,315648,1.1818,4.0909,3.4615,5818,111,0.0191,0.0754,...,0.7692,0.2222,No,1,0,0,1,0,625,0
2,30917,21642,534864,0.7000,17.3000,24.7142,1157,860,0.7433,0.0374,...,1.4286,0.0578,High,1,0,0,1,0,469,1
3,80657,64526,629125,0.8000,7.8000,9.7499,6857,3686,0.5376,0.0850,...,1.2500,0.1282,High,1,0,0,1,0,559,0
4,149971,1172498,2399531,7.8182,16.0000,2.0465,1978,322,0.1628,0.0132,...,0.1163,0.0568,High,1,1,1,1,1,473,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,328892,1465066,5501471,4.4546,16.7273,3.7551,16701,10132,0.6067,0.0508,...,0.2041,0.0543,High,1,1,1,1,1,418,0
996,81404,88805,680837,1.0909,8.3637,7.6667,5400,1936,0.3585,0.0663,...,0.8333,0.1087,No,1,0,0,1,0,589,1
997,0,42428,30760,3.2379,8.1889,0.7250,0,0,0.8779,0.0047,...,0.2500,0.3448,No,1,0,0,1,0,499,0
998,36011,8002,604181,0.2222,16.7777,75.5037,1993,1271,0.6377,0.0553,...,5.0002,0.0662,No,1,1,0,1,0,507,0
999,44266,309859,44266,6.9999,1.0000,0.1429,1574,1264,0.8030,0.0356,...,0.1587,1.1111,No,1,0,0,1,0,657,0

In [16]:
df[['SAVINGS']].value_counts()

SAVINGS
0          7
1228       2
3268       2
535588     1
504052     1
          ..
139336     1
139398     1
141571     1
143562     1
2911863    1
Name: count, Length: 992, dtype: int64

In [19]:
df['CAT_GAMBLING'].value_counts()

CAT_GAMBLING
No      620
High    264
Low     116
Name: count, dtype: int64

In [20]:
df['CAT_GAMBLING'].value_counts().to_dict()

{'No': 620, 'High': 264, 'Low': 116}

In [21]:
df['CAT_GAMBLING']= df['CAT_GAMBLING'].replace({'No': 0, 'High': 1, 'Low': 2})

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 86 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   INCOME                   1000 non-null   int64
 1   SAVINGS                  1000 non-null   int64
 2   DEBT                     1000 non-null   int64
 3   R_SAVINGS_INCOME         1000 non-null   float64
 4   R_DEBT_INCOME            1000 non-null   float64
 5   R_DEBT_SAVINGS           1000 non-null   float64
 6   T_CLOTHING_12            1000 non-null   int64
 7   T_CLOTHING_6             1000 non-null   int64
 8   R_CLOTHING               1000 non-null   float64
 9   R_CLOTHING_INCOME        1000 non-null   float64
 10  R_CLOTHING_SAVINGS       1000 non-null   float64
 11  R_CLOTHING_DEBT          1000 non-null   float64
 12  T_EDUCATION_12           1000 non-null   int64
 13  T_EDUCATION_6            1000 non-null   int64
 14  R_EDUCATION              1000 non-null   float64
 15  R_EDUCATION_INCOME       1000 non-null   float64
 16  R_EDUCATION_SAVINGS      1000 non-null   float64
 17  R_EDUCATION_DEBT         1000 non-null   float64
 18  T_ENTERTAINMENT_12       1000 non-null   int64
 19  T_ENTERTAINMENT_6        1000 non-null   int64
 20  R_ENTERTAINMENT          1000 non-null   float64
 21  R_ENTERTAINMENT_INCOME   1000 non-null   float64
 22  R_ENTERTAINMENT_SAVINGS  1000 non-null   float64
 23  R_ENTERTAINMENT_DEBT     1000 non-null   float64
 24  T_FINES_12               1000 non-null   int64
 25  T_FINES_6                1000 non-null   int64
 26  R_FINES                  1000 non-null   float64
 27  R_FINES_INCOME           1000 non-null   float64
 28  R_FINES_SAVINGS          1000 non-null   float64
 29  R_FINES_DEBT             1000 non-null   float64
 30  T_GAMBLING_12            1000 non-null   int64
 31  T_GAMBLING_6             1000 non-null   int64
 32  R_GAMBLING               1000 non-null   float64
 33  R_GAMBLING_INCOME        1000 non-null   float64
 34  R_GAMBLING_SAVINGS       1000 non-null   float64
 35  R_GAMBLING_DEBT          1000 non-null   float64
 36  T_GROCERIES_12           1000 non-null   int64
 37  T_GROCERIES_6            1000 non-null   int64
 38  R_GROCERIES              1000 non-null   float64
 39  R_GROCERIES_INCOME       1000 non-null   float64
 40  R_GROCERIES_SAVINGS      1000 non-null   float64
 41  R_GROCERIES_DEBT         1000 non-null   float64
 42  T_HEALTH_12              1000 non-null   int64
 43  T_HEALTH_6               1000 non-null   int64
 44  R_HEALTH                 1000 non-null   float64
 45  R_HEALTH_INCOME          1000 non-null   float64
 46  R_HEALTH_SAVINGS         1000 non-null   float64
 47  R_HEALTH_DEBT            1000 non-null   float64
 48  T_HOUSING_12             1000 non-null   int64
 49  T_HOUSING_6              1000 non-null   int64
 50  R_HOUSING                1000 non-null   float64
 51  R_HOUSING_INCOME         1000 non-null   float64
 52  R_HOUSING_SAVINGS        1000 non-null   float64
 53  R_HOUSING_DEBT           1000 non-null   float64
 54  T_TAX_12                 1000 non-null   int64
 55  T_TAX_6                  1000 non-null   int64
 56  R_TAX                    1000 non-null   float64
 57  R_TAX_INCOME             1000 non-null   float64
 58  R_TAX_SAVINGS            1000 non-null   float64
 59  R_TAX_DEBT               1000 non-null   float64
 60  T_TRAVEL_12              1000 non-null   int64
 61  T_TRAVEL_6               1000 non-null   int64
 62  R_TRAVEL                 1000 non-null   float64
 63  R_TRAVEL_INCOME          1000 non-null   float64
 64  R_TRAVEL_SAVINGS         1000 non-null   float64
 65  R_TRAVEL_DEBT            1000 non-null   float64
 66  T_UTILITIES_12           1000 non-null   int64
 67  T_UTILITIES_6            1000 non-null   int64
 68  R_UTILITIES              1000 non-null   float64
 69  R_UTILITIES_INCOME       1000 non-null   float64
 70  R_UTILITIES_SAVINGS      1000 non-null   float64
 71  R_UTILITIES_DEBT         1000 non-null   float64
 72  T_EXPENDITURE_12         1000 non-null   int64
 73  T_EXPENDITURE_6          1000 non-null   int64
 74  R_EXPENDITURE            1000 non-null   float64
 75  R_EXPENDITURE_INCOME     1000 non-null   float64
 76  R_EXPENDITURE_SAVINGS    1000 non-null   float64
 77  R_EXPENDITURE_DEBT       1000 non-null   float64
 78  CAT_GAMBLING             1000 non-null   int64
 79  CAT_DEBT                 1000 non-null   int64
 80  CAT_CREDIT_CARD          1000 non-null   int64
 81  CAT_MORTGAGE             1000 non-null   int64
 82  CAT_SAVINGS_ACCOUNT      1000 non-null   int64
 83  CAT_DEPENDENTS           1000 non-null   int64
 84  CREDIT_SCORE             1000 non-null   int64
 85  DEFAULT                  1000 non-null   int64
dtypes: float64(51), int64(35)
memory usage: 672.0 KB

In [24]:
x=df.drop('DEFAULT', axis = 1)
y=df['DEFAULT']
print('x',x)
print('y', y)

x      INCOME  SAVINGS     DEBT  R_SAVINGS_INCOME  R_DEBT_INCOME  \
0     33269        0   532304            0.0000        16.0000
1     77158    91187   315648            1.1818         4.0909
2     30917    21642   534864            0.7000        17.3000
3     80657    64526   629125            0.8000         7.8000
4    149971  1172498  2399531            7.8182        16.0000
..      ...      ...      ...               ...            ...
995  328892  1465066  5501471            4.4546        16.7273
996   81404    88805   680837            1.0909         8.3637
997       0    42428    30760            3.2379         8.1889
998   36011     8002   604181            0.2222        16.7777
999   44266   309859    44266            6.9999         1.0000

     R_DEBT_SAVINGS  T_CLOTHING_12  T_CLOTHING_6  R_CLOTHING  \
0            1.2000           1889           945      0.5003
1            3.4615           5818           111      0.0191
2           24.7142           1157           860      0.7433
3            9.7499           6857          3686      0.5376
4            2.0465           1978           322      0.1628
..              ...            ...           ...         ...
995          3.7551          16701         10132      0.6067
996          7.6667           5400          1936      0.3585
997          0.7250              0             0      0.8779
998         75.5037           1993          1271      0.6377
999          0.1429           1574          1264      0.8030

     R_CLOTHING_INCOME  ...  R_EXPENDITURE_INCOME  R_EXPENDITURE_SAVINGS  \
0               0.0568  ...                1.0000                 0.0000
1               0.0754  ...                0.9091                 0.7692
2               0.0374  ...                1.0000                 1.4286
3               0.0850  ...                1.0000                 1.2500
4               0.0132  ...                0.9091                 0.1163
..                 ...  ...                   ...                    ...
995             0.0508  ...                0.9091                 0.2041
996             0.0663  ...                0.9091                 0.8333
997             0.0047  ...                1.0668                 0.2500
998             0.0553  ...                1.1111                 5.0002
999             0.0356  ...                1.1111                 0.1587

     R_EXPENDITURE_DEBT  CAT_GAMBLING  CAT_DEBT  CAT_CREDIT_CARD  \
0                0.0625             1         1                0
1                0.2222             0         1                0
2                0.0578             1         1                0
3                0.1282             1         1                0
4                0.0568             1         1                1
..                  ...           ...       ...              ...
995              0.0543             1         1                1
996              0.1087             0         1                0
997              0.3448             0         1                0
998              0.0662             0         1                1
999              1.1111             0         1                0

     CAT_MORTGAGE  CAT_SAVINGS_ACCOUNT  CAT_DEPENDENTS  CREDIT_SCORE
0               0                    0               0           444
1               0                    1               0           625
2               0                    1               0           469
3               0                    1               0           559
4               1                    1               1           473
..            ...                  ...             ...           ...
995             1                    1               1           418
996             0                    1               0           589
997             0                    1               0           499
998             0                    1               0           507
999             0                    1               0           657

[1000 rows x 85 columns]
y 0      1
1      0
2      1
3      0
4      0
      ..
995    0
996    1
997    0
998    0
999    0
Name: DEFAULT, Length: 1000, dtype: int64

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,precision_score,accuracy_score

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=42)

In [47]:
rand_fost = RandomForestClassifier(random_state=30)
rand_fost.fit(x_train, y_train)

RandomForestClassifier(random_state=30)

In [48]:
y_pred_train = rand_fost.predict(x_train)
conf_matrix=confusion_matrix(y_pred_train,y_train)
print(conf_matrix)
prec_score=precision_score(y_pred_train,y_train)
print (prec_score)
acu_score= accuracy_score(y_pred_train,y_train)
print(acu_score)

[[570   0]
 [  0 230]]
1.0
1.0

In [49]:
y_pred_test = rand_fost.predict(x_test)
conf_matrix=confusion_matrix(y_pred_test,y_test)
print(conf_matrix)
prec_score=precision_score(y_pred_test,y_test)
print (prec_score)
acu_score= accuracy_score(y_pred_test,y_test)
print(acu_score)

[[130  44]
 [ 16  10]]
0.18518518518518517
0.7