In [1]:
import pandas as pd
import numpy as np

In [56]:
df= pd.read_csv('diabetes_prediction_dataset.csv')
print (df)

       gender   age  hypertension  heart_disease smoking_history    bmi  \
0      Female  80.0             0              1           never  25.19
1      Female  54.0             0              0         No Info  27.32
2        Male  28.0             0              0           never  27.32
3      Female  36.0             0              0         current  23.45
4        Male  76.0             1              1         current  20.14
...       ...   ...           ...            ...             ...    ...
99995  Female  80.0             0              0         No Info  27.32
99996  Female   2.0             0              0         No Info  17.37
99997    Male  66.0             0              0          former  27.83
99998  Female  24.0             0              0           never  35.42
99999  Female  57.0             0              0         current  22.43

       HbA1c_level  blood_glucose_level  diabetes
0              6.6                  140         0
1              6.6                   80         0
2              5.7                  158         0
3              5.0                  155         0
4              4.8                  155         0
...            ...                  ...       ...
99995          6.2                   90         0
99996          6.5                  100         0
99997          5.7                  155         0
99998          4.0                  100         0
99999          6.6                   90         0

[100000 rows x 9 columns]

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [58]:
df['gender'].value_counts()

gender
Female    58552
Male      41430
Other        18
Name: count, dtype: int64

In [59]:
df['gender'].value_counts().to_dict()

{'Female': 58552, 'Male': 41430, 'Other': 18}

In [60]:
df['gender']= df['gender'].replace({'Female': 0, 'Male': 1, 'Other': 2})
df

C:\Users\Kirtibala.Gujar\AppData\Local\Temp\ipykernel_2712\2687170652.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender']= df['gender'].replace({'Female': 0, 'Male': 1, 'Other': 2})

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,never,25.19,6.6,140,0
1,0,54.0,0,0,No Info,27.32,6.6,80,0
2,1,28.0,0,0,never,27.32,5.7,158,0
3,0,36.0,0,0,current,23.45,5.0,155,0
4,1,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,No Info,27.32,6.2,90,0
99996,0,2.0,0,0,No Info,17.37,6.5,100,0
99997,1,66.0,0,0,former,27.83,5.7,155,0
99998,0,24.0,0,0,never,35.42,4.0,100,0
99999,0,57.0,0,0,current,22.43,6.6,90,0

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  int64
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(5), object(1)
memory usage: 6.9+ MB

In [62]:
df['smoking_history'].value_counts()

smoking_history
No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: count, dtype: int64

In [63]:
df_items_smok=pd.get_dummies(df, columns=['smoking_history'])
df_items_smok

,gender,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,0,80.0,0,1,25.19,6.6,140,0,False,False,False,False,True,False
1,0,54.0,0,0,27.32,6.6,80,0,True,False,False,False,False,False
2,1,28.0,0,0,27.32,5.7,158,0,False,False,False,False,True,False
3,0,36.0,0,0,23.45,5.0,155,0,False,True,False,False,False,False
4,1,76.0,1,1,20.14,4.8,155,0,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,27.32,6.2,90,0,True,False,False,False,False,False
99996,0,2.0,0,0,17.37,6.5,100,0,True,False,False,False,False,False
99997,1,66.0,0,0,27.83,5.7,155,0,False,False,False,True,False,False
99998,0,24.0,0,0,35.42,4.0,100,0,False,False,False,False,True,False
99999,0,57.0,0,0,22.43,6.6,90,0,False,True,False,False,False,False

In [64]:
df_items_smok.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   gender                       100000 non-null  int64
 1   age                          100000 non-null  float64
 2   hypertension                 100000 non-null  int64
 3   heart_disease                100000 non-null  int64
 4   bmi                          100000 non-null  float64
 5   HbA1c_level                  100000 non-null  float64
 6   blood_glucose_level          100000 non-null  int64
 7   diabetes                     100000 non-null  int64
 8   smoking_history_No Info      100000 non-null  bool
 9   smoking_history_current      100000 non-null  bool
 10  smoking_history_ever         100000 non-null  bool
 11  smoking_history_former       100000 non-null  bool
 12  smoking_history_never        100000 non-null  bool
 13  smoking_history_not current  100000 non-null  bool
dtypes: bool(6), float64(3), int64(5)
memory usage: 6.7 MB

In [65]:
import pandas as pd


smoking_map = {'never':0,'No Info':1,'former':2,'current':3,'not current':4,'ever':5}

df['smoking_history'] = df['smoking_history'].map(smoking_map)
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,0,25.19,6.6,140,0
1,0,54.0,0,0,1,27.32,6.6,80,0
2,1,28.0,0,0,0,27.32,5.7,158,0
3,0,36.0,0,0,3,23.45,5.0,155,0
4,1,76.0,1,1,3,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,1,27.32,6.2,90,0
99996,0,2.0,0,0,1,17.37,6.5,100,0
99997,1,66.0,0,0,2,27.83,5.7,155,0
99998,0,24.0,0,0,0,35.42,4.0,100,0
99999,0,57.0,0,0,3,22.43,6.6,90,0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  int64
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  int64
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 6.9 MB

In [76]:
x=df.drop('diabetes', axis = 1)
y=df['diabetes']
print('x',x)
print('y', y)

x        gender   age  hypertension  heart_disease  smoking_history    bmi  \
0           0  80.0             0              1                0  25.19
1           0  54.0             0              0                1  27.32
2           1  28.0             0              0                0  27.32
3           0  36.0             0              0                3  23.45
4           1  76.0             1              1                3  20.14
...       ...   ...           ...            ...              ...    ...
99995       0  80.0             0              0                1  27.32
99996       0   2.0             0              0                1  17.37
99997       1  66.0             0              0                2  27.83
99998       0  24.0             0              0                0  35.42
99999       0  57.0             0              0                3  22.43

       HbA1c_level  blood_glucose_level
0              6.6                  140
1              6.6                   80
2              5.7                  158
3              5.0                  155
4              4.8                  155
...            ...                  ...
99995          6.2                   90
99996          6.5                  100
99997          5.7                  155
99998          4.0                  100
99999          6.6                   90

[100000 rows x 8 columns]
y 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 100000, dtype: int64

In [78]:
y

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 100000, dtype: int64

In [36]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [68]:
df.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [79]:
x_scale=scaler.fit_transform(x)

In [80]:
x_scale_df= pd.DataFrame(x_scale,columns=x.columns)
x_scale_df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
0,-0.841047,1.692704,-0.284439,4.936379,-0.916237,-0.321056,1.001706,0.047704
1,-0.841047,0.538006,-0.284439,-0.202578,-0.201466,-0.000116,1.001706,-1.426210
2,1.187234,-0.616691,-0.284439,-0.202578,-0.916237,-0.000116,0.161108,0.489878
3,-0.841047,-0.261399,-0.284439,-0.202578,1.228078,-0.583232,-0.492690,0.416183
4,1.187234,1.515058,3.515687,4.936379,1.228078,-1.081970,-0.679490,0.416183
...,...,...,...,...,...,...,...,...
99995,-0.841047,1.692704,-0.284439,-0.202578,-0.201466,-0.000116,0.628107,-1.180558
99996,-0.841047,-1.771388,-0.284439,-0.202578,-0.201466,-1.499343,0.908306,-0.934905
99997,1.187234,1.070944,-0.284439,-0.202578,0.513306,0.076729,0.161108,0.416183
99998,-0.841047,-0.794336,-0.284439,-0.202578,-0.916237,1.220361,-1.426688,-0.934905
99999,-0.841047,0.671241,-0.284439,-0.202578,1.228078,-0.736922,1.001706,-1.180558

In [42]:
from sklearn.model_selection import train_test_split

In [81]:
x_train,x_test,y_train,y_test=train_test_split(x_scale_df,y,test_size=0.2)

In [82]:
x_train

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
42925,-0.841047,-0.439045,-0.284439,-0.202578,-0.201466,-0.000116,-1.426688,0.539009
30836,-0.841047,-1.726976,-0.284439,-0.202578,-0.201466,-0.000116,0.628107,0.539009
96520,-0.841047,1.692704,-0.284439,-0.202578,-0.916237,-0.223116,0.254508,0.416183
91130,-0.841047,-0.572279,-0.284439,-0.202578,-0.201466,-0.000116,-0.679490,0.047704
51845,1.187234,1.692704,-0.284439,-0.202578,-0.916237,-0.000116,-0.492690,-0.296209
...,...,...,...,...,...,...,...,...
79173,-0.841047,-0.838748,-0.284439,-0.202578,-0.916237,-0.449131,-1.426688,-0.197948
48155,-0.841047,-0.971982,-0.284439,-0.202578,-0.916237,-0.590766,-0.679490,-0.296209
77381,-0.841047,1.692704,-0.284439,-0.202578,-0.916237,-1.167856,0.254508,0.489878
34114,1.187234,0.093892,-0.284439,-0.202578,-0.916237,0.504650,-0.492690,0.514444
29945,-0.841047,-1.282862,-0.284439,-0.202578,-0.201466,-1.859459,-1.426688,-1.426210

In [71]:
df[['hypertension']].boxplot()

In [83]:
y_train

42925    0
30836    0
96520    0
91130    0
51845    0
        ..
79173    0
48155    0
77381    0
34114    0
29945    0
Name: diabetes, Length: 80000, dtype: int64

In [49]:
from sklearn.svm import SVC

In [84]:
svm_mod=SVC(C=6,kernel='linear')
svm_mod.fit(x_train,y_train)

SVC(C=6, kernel='linear')

In [86]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [88]:
y_pred_train = svm_mod.predict(x_train)
 
cnf_matrix = confusion_matrix(y_train, y_pred_train)
print("Confusion Matrix :\n",cnf_matrix)
 
acc_score = accuracy_score(y_train, y_pred_train)
print("Accuracy Score is :\n",acc_score)
 
clf_report = classification_report(y_train, y_pred_train)
print("Classification Report :\n",clf_report)

Confusion Matrix :
 [[72903   338]
 [ 2820  3939]]
Accuracy Score is :
 0.960525
Classification Report :
               precision    recall  f1-score   support

           0       0.96      1.00      0.98     73241
           1       0.92      0.58      0.71      6759

    accuracy                           0.96     80000
   macro avg       0.94      0.79      0.85     80000
weighted avg       0.96      0.96      0.96     80000

In [90]:
y_pred_test = svm_mod.predict(x_test)
 
cnf_matrix = confusion_matrix(y_test, y_pred_train)
print("Confusion Matrix :\n",cnf_matrix)
 
acc_score = accuracy_score(y_test, y_pred_train)
print("Accuracy Score is :\n",acc_score)
 
clf_report = classification_report(y_test, y_pred_train)
print("Classification Report :\n",clf_report)

Confusion Matrix :
 [[18179    80]
 [  698  1043]]
Accuracy Score is :
 0.9611
Classification Report :
               precision    recall  f1-score   support

           0       0.96      1.00      0.98     18259
           1       0.93      0.60      0.73      1741

    accuracy                           0.96     20000
   macro avg       0.95      0.80      0.85     20000
weighted avg       0.96      0.96      0.96     20000

In [94]:
print(y_pred_test)

[0 0 0 ... 0 0 0]

In [103]:
data=pd.Series(y_pred_test)
da= data.head(100)
da

0     0
1     0
2     0
3     0
4     0
     ..
95    1
96    0
97    0
98    0
99    1
Length: 100, dtype: int64