In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("salary_prediction_data.csv")
df

       Education  Experience  Location Job_Title  Age  Gender         Salary
0    High School           8     Urban   Manager   63    Male   84620.053665
1            PhD          11  Suburban  Director   59    Male  142591.255894
2       Bachelor          28  Suburban   Manager   61  Female   97800.255404
3    High School          29     Rural  Director   45    Male   96834.671282
4            PhD          25     Urban   Analyst   26  Female  132157.786175
..           ...         ...       ...       ...  ...     ...            ...
995  High School           8  Suburban   Analyst   25  Female   64683.389864
996  High School          24     Urban  Engineer   30  Female   74468.205020
997       Master          18     Rural   Analyst   44    Male   98207.026024
998     Bachelor          27  Suburban  Director   31  Female  108544.922720
999  High School          25     Urban  Director   41  Female   71077.000066

[1000 rows x 7 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Education   1000 non-null   object
 1   Experience  1000 non-null   int64
 2   Location    1000 non-null   object
 3   Job_Title   1000 non-null   object
 4   Age         1000 non-null   int64
 5   Gender      1000 non-null   object
 6   Salary      1000 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 54.8+ KB

In [4]:
df["Education"].value_counts()

Education
High School    255
Bachelor       253
PhD            251
Master         241
Name: count, dtype: int64

In [5]:
df["Education"].value_counts().to_dict()

{'High School': 255, 'Bachelor': 253, 'PhD': 251, 'Master': 241}

In [8]:
df["Education"]= df["Education"].replace({"High School":0,"Bachelor":1, "PhD":2, "Master":3})
df

C:\Users\Kirtibala.Gujar\AppData\Local\Temp\ipykernel_14132\760590474.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Education"]= df["Education"].replace({"High School":0,"Bachelor":1, "PhD":2, "Master":3})

     Education  Experience  Location Job_Title  Age  Gender         Salary
0            0           8     Urban   Manager   63    Male   84620.053665
1            2          11  Suburban  Director   59    Male  142591.255894
2            1          28  Suburban   Manager   61  Female   97800.255404
3            0          29     Rural  Director   45    Male   96834.671282
4            2          25     Urban   Analyst   26  Female  132157.786175
..         ...         ...       ...       ...  ...     ...            ...
995          0           8  Suburban   Analyst   25  Female   64683.389864
996          0          24     Urban  Engineer   30  Female   74468.205020
997          3          18     Rural   Analyst   44    Male   98207.026024
998          1          27  Suburban  Director   31  Female  108544.922720
999          0          25     Urban  Director   41  Female   71077.000066

[1000 rows x 7 columns]

In [9]:
df["Location"].value_counts()

Location
Suburban    345
Rural       345
Urban       310
Name: count, dtype: int64

In [10]:
df["Location"].value_counts().to_dict()

{'Suburban': 345, 'Rural': 345, 'Urban': 310}

In [12]:
df["Location"]= df["Location"].replace({"Suburban":0,"Rural":1, "Urban":2})
df

     Education  Experience  Location Job_Title  Age  Gender         Salary
0            0           8         2   Manager   63    Male   84620.053665
1            2          11         0  Director   59    Male  142591.255894
2            1          28         0   Manager   61  Female   97800.255404
3            0          29         1  Director   45    Male   96834.671282
4            2          25         2   Analyst   26  Female  132157.786175
..         ...         ...       ...       ...  ...     ...            ...
995          0           8         0   Analyst   25  Female   64683.389864
996          0          24         2  Engineer   30  Female   74468.205020
997          3          18         1   Analyst   44    Male   98207.026024
998          1          27         0  Director   31  Female  108544.922720
999          0          25         2  Director   41  Female   71077.000066

[1000 rows x 7 columns]

In [13]:
df["Job_Title"].value_counts()

Job_Title
Director    275
Analyst     255
Manager     241
Engineer    229
Name: count, dtype: int64

In [14]:
df["Job_Title"].value_counts().to_dict()

{'Director': 275, 'Analyst': 255, 'Manager': 241, 'Engineer': 229}

In [15]:
df["Job_Title"]=df["Job_Title"].replace({"Director":0, "Analyst":1, "Manager":2, "Engineer":3})
df

C:\Users\Kirtibala.Gujar\AppData\Local\Temp\ipykernel_14132\1062458647.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Job_Title"]=df["Job_Title"].replace({"Director":0, "Analyst":1, "Manager":2, "Engineer":3})

     Education  Experience  Location  Job_Title  Age  Gender         Salary
0            0           8         2          2   63    Male   84620.053665
1            2          11         0          0   59    Male  142591.255894
2            1          28         0          2   61  Female   97800.255404
3            0          29         1          0   45    Male   96834.671282
4            2          25         2          1   26  Female  132157.786175
..         ...         ...       ...        ...  ...     ...            ...
995          0           8         0          1   25  Female   64683.389864
996          0          24         2          3   30  Female   74468.205020
997          3          18         1          1   44    Male   98207.026024
998          1          27         0          0   31  Female  108544.922720
999          0          25         2          0   41  Female   71077.000066

[1000 rows x 7 columns]

In [16]:
df["Gender"].value_counts().to_dict()

{'Male': 516, 'Female': 484}

In [17]:
df["Gender"]=df["Gender"].replace({"Male":0,"Female":1})
df

C:\Users\Kirtibala.Gujar\AppData\Local\Temp\ipykernel_14132\1680828659.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Gender"]=df["Gender"].replace({"Male":0,"Female":1})

     Education  Experience  Location  Job_Title  Age  Gender         Salary
0            0           8         2          2   63       0   84620.053665
1            2          11         0          0   59       0  142591.255894
2            1          28         0          2   61       1   97800.255404
3            0          29         1          0   45       0   96834.671282
4            2          25         2          1   26       1  132157.786175
..         ...         ...       ...        ...  ...     ...            ...
995          0           8         0          1   25       1   64683.389864
996          0          24         2          3   30       1   74468.205020
997          3          18         1          1   44       0   98207.026024
998          1          27         0          0   31       1  108544.922720
999          0          25         2          0   41       1   71077.000066

[1000 rows x 7 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Education   1000 non-null   int64
 1   Experience  1000 non-null   int64
 2   Location    1000 non-null   int64
 3   Job_Title   1000 non-null   int64
 4   Age         1000 non-null   int64
 5   Gender      1000 non-null   int64
 6   Salary      1000 non-null   float64
dtypes: float64(1), int64(6)
memory usage: 54.8 KB

In [19]:
x=df.drop('Salary', axis = 1)
y=df['Salary']
print('x',x)
print('y', y)

x      Education  Experience  Location  Job_Title  Age  Gender
0            0           8         2          2   63       0
1            2          11         0          0   59       0
2            1          28         0          2   61       1
3            0          29         1          0   45       0
4            2          25         2          1   26       1
..         ...         ...       ...        ...  ...     ...
995          0           8         0          1   25       1
996          0          24         2          3   30       1
997          3          18         1          1   44       0
998          1          27         0          0   31       1
999          0          25         2          0   41       1

[1000 rows x 6 columns]
y 0       84620.053665
1      142591.255894
2       97800.255404
3       96834.671282
4      132157.786175
           ...
995     64683.389864
996     74468.205020
997     98207.026024
998    108544.922720
999     71077.000066
Name: Salary, Length: 1000, dtype: float64

In [23]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [25]:
df.isna().sum()

Education     0
Experience    0
Location      0
Job_Title     0
Age           0
Gender        0
Salary        0
dtype: int64

In [26]:
x_scale=scaler.fit_transform(x)

In [27]:
x_scale_df= pd.DataFrame(x_scale,columns=x.columns)
x_scale_df

     Education  Experience  Location  Job_Title       Age    Gender
0    -1.326473   -0.812169  1.280048   0.514732  1.516107 -0.968496
1     0.468484   -0.452324 -1.193475  -1.272533  1.222045 -0.968496
2    -0.428995    1.586793 -1.193475   0.514732  1.369076  1.032529
3    -1.326473    1.706741  0.043287  -1.272533  0.192831 -0.968496
4     0.468484    1.226949  1.280048  -0.378900 -1.203961  1.032529
..         ...         ...       ...        ...       ...       ...
995  -1.326473   -0.812169 -1.193475  -0.378900 -1.277476  1.032529
996  -1.326473    1.107001  1.280048   1.408365 -0.909899  1.032529
997   1.365962    0.387312  0.043287  -0.378900  0.119315 -0.968496
998  -0.428995    1.466845 -1.193475  -1.272533 -0.836384  1.032529
999  -1.326473    1.226949  1.280048  -1.272533 -0.101231  1.032529

[1000 rows x 6 columns]

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x_scale_df,y,test_size=0.2)

In [30]:
x_train

     Education  Experience  Location  Job_Title       Age    Gender
723  -0.428995    0.267364 -1.193475  -0.378900  1.442591  1.032529
165   0.468484   -0.092480 -1.193475  -0.378900 -1.498022  1.032529
569   0.468484    0.387312  0.043287  -0.378900  1.001499  1.032529
225   0.468484   -0.932117  1.280048  -1.272533  1.295561 -0.968496
544  -0.428995    1.107001  1.280048  -1.272533 -1.130445 -0.968496
..         ...         ...       ...        ...       ...       ...
861   1.365962    0.267364  0.043287   0.514732 -0.836384 -0.968496
822   1.365962   -0.812169  0.043287  -0.378900 -1.203961 -0.968496
840   1.365962   -1.291961 -1.193475  -0.378900 -1.350991 -0.968496
58   -1.326473   -1.052065  0.043287   1.408365 -1.203961  1.032529
357  -0.428995    1.706741  1.280048  -1.272533 -1.350991 -0.968496

[800 rows x 6 columns]

In [31]:
y_train

723     99639.302024
165    136466.951409
569    138709.647087
225    131042.223886
544    117826.576534
           ...
861    112862.375063
822     90855.048935
840     97173.289537
58      67767.869624
357    117235.268456
Name: Salary, Length: 800, dtype: float64

In [32]:
from sklearn.neighbors import KNeighborsRegressor

In [55]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error,r2_score

In [61]:
k=2
knn = KNeighborsRegressor(n_neighbors=k)

In [87]:
knn.fit(x_train, y_train)

KNeighborsRegressor(n_neighbors=8, p=1)

In [39]:
predictions = knn.predict(x_test)
predictions

array([148126.95355877, 114514.50159746,  93644.84318143, 124259.9159508 ,
       111910.19678419, 108929.81200493, 120198.81580774,  99493.3553088 ,
       148092.03548168, 105462.36889321,  61048.16888964,  80931.76166438,
        92882.99648951, 119165.41964777,  78663.87412347,  96714.30500438,
       108368.99008163,  90236.05225382, 142487.0498846 , 153022.34169546,
       103651.07565686, 136176.1345145 ,  88908.0152613 , 102878.18161487,
       112536.47900328,  78281.0591467 , 139397.5705377 , 122089.38230265,
       103434.54972679, 115086.73005245, 138332.8932908 ,  90130.95048892,
       120040.56939653, 114226.74893271,  71072.27333792,  78645.19756564,
        85676.57477238, 102378.80762029, 115404.49683549,  89988.96282876,
       162270.37851026, 128575.1769829 ,  62979.62420982, 127690.41593785,
       153000.66587112, 106480.2988259 , 104036.4243515 , 141495.54569749,
        82290.13437631,  92075.99805745,  95503.09801057, 112610.44269563,
        88915.20304295,  99409.18582769, 115232.5748625 , 108713.33817217,
        72764.52983461, 120198.81580774, 117887.44114026,  89156.56128099,
       121400.89841417, 115389.36017351, 116266.69056438,  80299.95422123,
        99161.36273804, 103738.81054652,  56721.66632842, 122800.79375791,
       133277.01116308,  70963.74336074,  80118.49353903, 143986.55252692,
        96896.37936335,  80014.63837216, 107722.65469475, 144775.2443384 ,
       126973.50072262,  91700.3428781 ,  82290.13437631, 118682.77267848,
       109888.13451115,  99343.83823195,  93644.84318143,  61373.12803477,
       110556.91499909,  97038.59384636,  88859.61337205, 125057.61496803,
       125186.00804641, 112763.54363417,  65389.43942733, 128448.25679298,
       111753.67105666, 109924.53519809, 166374.59305923, 113434.61122256,
       142019.109964  , 132407.43442209, 111095.9426108 , 122124.70538587,
       125693.32377428,  82141.67974337, 151473.86061496,  71026.31739344,
        90892.22243077,  83797.24968796,  55183.51915559, 107631.95350063,
        96245.58077249,  76758.45751812, 106639.1818144 , 123969.90340529,
        65277.45693463,  56721.66632842,  70866.7754493 ,  64455.85927596,
        96873.8595897 ,  89780.41639757,  72041.14290993,  70268.27845719,
       119142.74654078,  80105.63730676,  92018.2490829 ,  73614.81709185,
        95977.88968167,  90236.05225382, 128640.34315414,  95792.58154025,
        60096.79376791, 124051.66278263, 110203.01542786, 124350.53108423,
        88806.80015107, 113686.56519862,  95781.04576044, 117361.78930757,
        82781.35698754,  75793.84825269,  49416.11075903,  59899.21245372,
       148172.74244693, 123977.15974463, 120262.72314851,  68283.32217871,
       100755.6072715 ,  90138.52358342, 129679.63738153,  73255.39339712,
        64808.91943722, 112679.2539952 , 121242.20336649,  97168.16901994,
       158841.3212382 , 109408.40222003, 133432.05527622, 121126.43793248,
       148973.52715775, 102964.70792704, 131622.19201047, 118058.07012358,
        71132.93779068,  69591.75221292, 103345.6680905 , 113582.82951546,
        87718.1060353 ,  88156.83334311, 112545.38425446, 150042.684228  ,
        82383.91124788,  82486.24427178, 105453.50663643, 100577.2080975 ,
        78514.26435718, 102672.24561633, 152525.51893653, 133527.10521521,
        69591.75221292,  96738.59116395,  67120.49450783, 138572.65730673,
        79220.28677367, 148003.97650195,  69156.2267681 ,  89063.97371037,
       110556.91499909,  80915.0628605 ,  92272.43595391,  90236.05225382,
       100363.5825022 ,  89085.57267834,  88156.83334311, 113079.07806725,
        76139.35362401, 154315.38689571,  75945.42687454, 111079.25564217,
       128575.1769829 , 106770.92628761, 130476.64733195,  78645.19756564])

In [40]:
# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 300092129.2673327

In [59]:
from sklearn.metrics import mean_absolute_percentage_error
mae = mean_squared_error(y_test, predictions)
print("Mean Absolute percentage", mae)
mse = mean_squared_error(y_test, predictions)
print("Mean Suared error:", mse)
r_suare=r2_score(y_test,predictions)
print("R square value:",r_suare)

Mean Absolute percentage 213757565.94826722
Mean Suared error: 213757565.94826722
R square value: 0.7459213877913349

In [85]:
pred_train = knn.predict(x_train)
mse = mean_squared_error(y_train, pred_train)
print("Mean Suared error:", mse)
mae = mean_squared_error(y_train, pred_train)
print("Mean Absolute percentage:", mae)
r_suare=r2_score(y_train,pred_train)
print("R square value:",r_suare)

Mean Suared error: 142803765.1232271
Mean Absolute percentage: 142803765.1232271
R square value: 0.8181993139280523

In [49]:
knn_mode= KNeighborsRegressor()
hyp_para= {"n_neighbors":np.arange(2,10),'p':[1,2]}

In [50]:
gscv_model=GridSearchCV(knn_mode,hyp_para, cv=5)
gscv_model.fit(x_train,y_train)
print("best Estimator:",gscv_model.best_index_)

best Estimator: 8

In [81]:
k=8
knn = KNeighborsRegressor(n_neighbors=k,p=1)
knn.fit(x_train, y_train)

KNeighborsRegressor(n_neighbors=8, p=1)

In [82]:
predictions = knn.predict(x_test)
mse = mean_squared_error(y_test, predictions)
print("Mean Suared error:", mse)
mae = mean_squared_error(y_test, predictions)
print("Mean Absolute percentage:", mae)
r_suare=r2_score(y_test,predictions)
print("R square value:",r_suare)

Mean Suared error: 213757565.94826722
Mean Absolute percentage: 213757565.94826722
R square value: 0.7459213877913349

In [83]:
predictions_train = knn.predict(x_train)
mse = mean_squared_error(y_train, predictions_train)
print("Mean Suared error:", mse)
mae = mean_squared_error(y_train, predictions_train)
print("Mean Absolute percentage:", mae)
r_suare=r2_score(y_train,predictions_train)
print("R square value:",r_suare)

Mean Suared error: 142803765.1232271
Mean Absolute percentage: 142803765.1232271
R square value: 0.8181993139280523